<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_Layout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <ul class="nav justify-content-center p-3">
    <li class="nav-item">
        <a class="nav-link active" href="#">Yetenekler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sosyal Medya</a>
    </li>
</ul>
    <div class="container"> 
        @RenderBody()
    </div>
</body>
</html>
