<!-- Footer START -->
<footer class="section site-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <img class="logo-img my-3" src="~/Template/img/bg-left.png" alt="LOGO">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <p class="footer-text">© ProjectNames 2018 - Все права только у меня.</p>
            </div>
            <div class="col-md-4">
                <ul class="ft-nav social-nav my-3">
                    <li class="mx-1"><a href="javascript:void(0);" title="vk"><i class="fa fa-vk"></i></a></li>
                    <li class="mx-1"><a href="javascript:void(0);" title="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="mx-1"><a href="javascript:void(0);" title="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="mx-1"><a href="javascript:void(0);" title="instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <a href="http://larts.pro/">
                    <span class="corp-design"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->
